{% extends 'base.html' %}

{% block content %}
<div class="card shadow" id="notesCard">
    <div class="card-header">
        <div class="row row-cols-2">
            <div class="col-11">
                <h1>Update Note</h1>
            </div>
            <div class="col-1">
                <a href="{% url 'delete_note' note.id %}" style="font-size: 35px; color: var(--bs-blue)">
                    <i class="bi bi-trash text-danger"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ note_form.as_p }}
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{% url 'index' %}" class="btn btn-light">Cancel</a>
        </form>
        
    </div>
</div>
{% endblock content %}